body {
  padding-top: 90px;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
header {
  width: 100%;
  padding: 30px;
  padding-left: 130px;
  padding-right: 130px;
  position: fixed;
  background-color: white;
  top: 0;
  overflow: hidden;
  max-height: 100px;
  transition-duration: 0.25s;
}
.sticky {
  box-shadow: 10px 0px 5px grey;
  padding-top: 20px;
  padding-bottom: 20px;
  transition-duration: 0.5s;
}
#title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  font-family: Lato;
  color: #383a3d;
}
#times {
  font-weight: lighter;
  font-size: small;
  display: inline-block;
  margin-left: 50px;
}
#menu {
  text-transform: uppercase;
  position: absolute;
  right: 130px;
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}
.inner {
  width: 100%;
}
nav {
  display: none;
}
.banner {
  width: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: green;
}
a:hover{text-decoration: underline; color: black;}
